:root {
  --negro: #32384e;
  --gris: #e1e1e1;
  --primario: #ffffec;
  --blanco: #fff;
  --celeste-pastel: #84b6f4;
  --celeste-oscuro: #4a93ec;
  --verde-pastel: #77dd77;
  --verde-pastel-intenso: #42ab49;
  --amarillo-pastel: #fdfd96;
  /* --violetaClaro: #9f7aea; */
  --rosa-pastel: #ffe5ec;
  --rosa-oscuro: #ffb3c6;
  --font1: 'Raleway', sans-serif;
  --font2: 'Montserrat', sans-serif;
  --azul-claro: #7ff9c7;
  --grisaceo: #826898;
}

html {
  box-sizing: border-box;
  background-color: var(--rosa-pastel);
  font-size: 62.5%; /* 1REM = 10px*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--font2);
  font-size: 1.4rem;
  line-height: 2;
}

/* Globales */
h1,
h2,
h3 {
  font-family: var(--font1);
  /* margin: 0 0 3rem 0; */
  margin: 0;
}
h1 {
  font-size: 3rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}
h2 {
  font-size: 2.2rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}
h3 {
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 2rem;
  }
}
a {
  text-decoration: none;
  color: var(--negro);
  font-size: 1.8rem;
}
p {
  color: var(--negro);
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  p {
    color: var(--negro);
    font-size: 1.8rem;
  }
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
img {
  max-width: 100%;
  display: block;
}
.btn {
  background-color: var(--celeste-pastel);
  display: block;
  color: var(--blanco);
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
  border: none;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}
.btn:hover {
  background-color: var(--celeste-oscuro);
  cursor: pointer;
}
@media (min-width: 768px) {
  .btn {
    width: auto; /**lo que marign padding y su contendedor requieran**/
  }
}
/**Utilidades**/
.text-center {
  text-align: center;
}

.font-w {
  font-weight: bold;
}


@media (min-width: 768px) {
  .max-width-30 {
    max-width: 30rem;
  }
}
.color-celeste {
  color: var(--negro);
}
.margin-bottom {
  margin: 0 0 2rem 0;
}

@media (min-width: 768px) {
  .margin-bottom {
    margin: 0 0 5rem 0;
  }
}

/* Header y Navegación */
.nombre-sitio {
  text-align: center;
  display: flex;
}

.nombre-sitio img {
  height: 8rem;
  padding: 1rem;
}
@media (min-width: 768px) {
  .nombre-sitio img {
    height: 11rem;
    padding: 1rem;
  }
}

.contenedor-navegacion {
  display: grid;
  justify-content: center;
}
.header {
  /* position: fixed; */
  border-bottom: 0.1rem solid var(--rosa-pastel);
  background-color: var(--rosa-oscuro);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  box-shadow: 2.5px 2.5px 2px var(--rosa-oscuro);
  position: fixed;
  z-index: 3;
}

@media (min-width: 768px) {
  .header {
    justify-content: space-between;
  }
}

.header .contenedor {
  margin: 0;
}

@media (min-width: 768px) {
  .header .contenedor {
    margin: 0 auto;
  }
}

.nav-principal {
  display: none;
}
@media (min-width: 768px) {
  .nav-principal {
    display: flex;
    padding: 2rem 0;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
}
.nav-principal a {
  color: var(--negro);
  font-weight: bold;
}

.nav-principal a:hover{
  color: var(--blanco)
}

.header__menu-burger {
  width: 3rem;
  display: flex;
}

@media (min-width: 768px) {
  .header__menu-burger {
    display: none;
  }
}
.hero {
  background-image: url(../img/principal.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  position: relative;
  top: 8rem;
  margin-bottom: 8rem;
}
@media (min-width: 768px) {
  .hero {
    top: 11rem;
    height: 65rem;
    margin-bottom: 11rem;
  }
}
/**Categorias**/
.categorias {
  padding: 5rem 0;
}
.categoria {
  overflow: hidden;
}
@media (min-width: 768px) {
  .categoria {
    margin-bottom: 0;
  }
}

.categoria img {
  width: 100%;
  height: 25rem;
  object-fit: cover;

  transition-property: transform;
  transition-duration: 300ms;
}

.categoria img:hover {
  transform: scale(1.2);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.categorias h2 {
  text-align: center;
}

.listado-cat a {
  text-align: center;
  display: block; /*modificar enlace*/
  padding: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--negro);
  background-color: var(--blanco);
}
.listado-cat a:hover {
  background-color: var(--rosa-oscuro);
  border-bottom-right-radius: 1rem;
}

.listado-categorias {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  .listado-categorias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .categoria img {
    height: 40rem;
  }
}

@media (min-width: 992px) {
  .listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .categoria img {
    height: 40rem;
  }
}

/** Bloque Nosotros**/
.sobre-nosotros {
  background-image: linear-gradient(
      to bottom,
      transparent 50%,
      var(--blanco) 50%,
      var(--celeste-pastel) 100%
    ),
    url(../img/nosotros2.jpg);
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .sobre-nosotros {
    background-image: linear-gradient(
        to right,
        transparent 50%,
        var(--celeste-pastel) 50%,
        var(--blanco) 100%
      ),
      url(../img/nosotros2.jpg);
    background-position: center center;

    padding: 10rem 0;
    background-size: cover;
  }
}
.sobre-nosotros-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
@media (min-width: 768px) {
  .sobre-nosotros-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
    column-gap: 10rem;
  }
}
.texto-nosotros {
  grid-row: 2/3;
  color: var(--negro);
  padding: 5rem;
}
@media (min-width: 768px) {
  .texto-nosotros {
    grid-column: 2/3;
  }
}

/**Listado de Productos**/
.contenido-principal {
  padding-top: 10rem;
}

@media (min-width: 768px) {
  .contenido-principal {
    padding-top: 16rem;
  }
}

@media (min-width: 768px) {
  .listado-productos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
  }
  .producto:nth-child(1) {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .producto:nth-child(1) img {
    height: 40rem;
    width: 100%;
    object-fit: cover; /*corregir imagenes desproporcionadas y que sencojen*/
  }
  .producto:nth-child(2) {
    grid-column: 1/4;
  }
  .producto:nth-child(2) img,
  .producto:nth-child(3) img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
  }
  .producto:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 7;
  }
  .producto:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .producto:nth-child(4) img,
  .producto:nth-child(5) img,
  .producto:nth-child(6) img {
    height: 50rem;
    width: 100%;
    object-fit: cover;
  }
  .producto:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .producto:nth-child(6) {
    grid-column-start: 5;
    grid-column-end: 7;
  }
  .producto:nth-child(7) {
    grid-column-start: 1;
    grid-column-end: 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .producto:nth-child(7) img {
    height: 40rem;
    width: 100%;
    object-fit: cover; /*corregir imagenes desproporcionadas y que sencojen*/
  }
}
.producto {
  background-color: var(--blanco);
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .producto {
    margin-bottom: 0;
  }
}
.producto:last-of-type {
  margin-bottom: 0;
}
.texto-producto h3 {
  margin: 0;
}
.texto-producto p {
  margin: 0 0 0.5rem 0;
}
.texto-producto {
  text-align: center;
  color: var(--negro);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.texto-producto .precio {
  font-size: 2.8rem;
  font-weight: 900;
}

/**Footer**/
.site-footer {
  border-top: 1px solid var(--gris);
  margin-top: 5rem;
  padding-top: 5rem;
}
.site-footer h3 {
  margin-bottom: 0.5rem;
  color: var(--negro);
  text-align: center;
}
@media (min-width: 768px) {
  .site-footer h3 {
    text-align: left;
  }
  .grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
.grid-footer > div {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .grid-footer > div {
    margin: 0;
  }
}

.footer-menu a {
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-menu a {
    text-align: left;
  }
}
.copyright {
  margin-top: 5rem;
  text-align: center;
}

/**Nosotros**/
.contenido-nosotros {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-columns: repeat(
    auto-fit,
    minmax(25rem, 1fr)
  ); /**crear columna de acuerdo a la cantidad de hijos y asigna un minimo si es debajo de 25 le da un 1fr**/
  column-gap: 2rem;
}
.contenido-nosotros .imagen img {
  height: 43rem;
  width: 100%;
  object-fit: cover;
}
.informacion-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
}
@media (min-width: 768px) {
  .informacion-nosotros {
    padding: 0;
  }
}

/**Blog**/
@media (min-width: 768px) {
  .contenedor-blog {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
  }
}
.entrada {
  border-bottom: 1px solid var(--gris);
  padding-bottom: 4rem;
  margin-bottom: 2rem;
}
.contenido-blog {
  padding: 2rem;
}
.entrada:last-of-type {
  border: none;
}
.entrada h2 {
  color: var(--blanco);
  text-align: center;
}
@media (min-width: 768px) {
  .entrada h2 {
    text-align: left;
  }
}
.entrada2 {
  color: var(--celeste-pastel);
}
@media (min-width: 768px) {
  .entrada-meta {
    display: flex;
    justify-content: space-between;
  }
}
.entrada-meta p {
  font-weight: bold;
}
.entrada-meta span {
  color: var(--blanco);
}
.contenido-entrada-blog {
  width: 60rem;
  max-width: 100%;
  margin: 0 auto;
}
.imagen img {
  height: 40rem;
  /* width: 100%; */
  object-fit: cover;
}

/**Galeria**/
.gal-text {
  color: var(--negro);
  margin: 2rem;
  position: relative;
}

.gal-text::before {
  content: '';
  border-top: 2px solid var(--blanco); /* Cambiamos de border-left a border-top */
  width: 100%;
  position: absolute; /* Posicionamos el pseudo-elemento de forma absoluta */
  left: 0; /* Ajustamos la posición a la izquierda del h3 */
  bottom: -1rem; /* Ajustamos la posición en la parte inferior del h3 */
}
.galeria {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
  }
}

.galeria img {
  height: 40rem;
  width: 40rem;
  object-fit: cover;
}

/**Formulario**/
.formulario {
  max-width: 60rem;
  margin: 0 auto;
}
.formulario fieldset {
  border: 1px solid var(--negro);
  margin-bottom: 2rem;
}
.formulario legend {
  background-color: var(--celeste-pastel);
  color: var(--blanco);
  font-weight: 900;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.campo {
  display: flex;
  margin-bottom: 2rem;
}
.campo label {
  flex-basis: 10rem;
  font-weight: bold;
  color: var(--negro);
}

.campo input:not([type='radio']),
.campo textarea,
.campo select {
  flex: 1;
  border: 1px solid var(--gris);
  padding: 1rem;
}

/* icono whatsapp */
.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-icon {
  width: 32px;
  height: 32px;
  background: url(https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/file-uploads/blogs/2147503798/images/2eed1d1-5ae4-cc71-ff46-00e8b5cb7ae7_whatsapp.png)
    no-repeat;
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--rosa-oscuro);
  z-index: 4;
  display: grid;
  place-items: center;
  transition: all 0.3s linear;

  /* agregar luego */
  transform: translateX(-100%);
}

.sidebar__links {
  text-align: center;
  padding-left: 0;
  font-weight: bold;
  list-style: none;
}

.sidebar__links a {
  font-size: 3rem;
  text-transform: capitalize;
  transition: all 0.3s linear;
  color: var(--negro);
  letter-spacing: 0.25rem;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.sidebar__links a:hover {
  color: var(--blanco)
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;

  font-size: 3rem;
  background: transparent;
  border: transparent;
  transition: all 0.3s linear;
  color: var(--negro);
  cursor: pointer;
}

.close-btn:hover {
  color: var(--gris);
}

.show-sidebar {
  transform: translateX(0);
}

